<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title><%= title %></title>
    </head>
    <body>
        <h2>ユーザ登録</h2>
        <% if (error) { %>
            <p>ユーザ名がすでに存在します。</p>
        <% } %>
        <form action="/register" method="post">
            <label>ユーザ名</label>
            <input type="text" name="username" required pattern="[a-z]+"><br>
            <label>パスワード</label>
            <input type="password" name="password" required><br>
            <input type="submit" value="ユーザ登録"><!--type=submitは要素が送信ボタンであることを指定する、またvalueはボタンに表示される内容を指定-->
        </form>
    </body>
</html>